<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{title}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let recipie of recipies"
        (click)="selectRecipie(recipie)" >
        <h3>{{recipie.dishName}}</h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<span *ngIf="selectedRecipie.id">
<mat-card>
    <mat-card-header>
        <mat-card-title>{{selectedRecipie.dishName}}</mat-card-title>
    </mat-card-header>
    <mat-card-subtitle>Time Required : {{selectedRecipie.timeNeeded}} min</mat-card-subtitle>
    <mat-card-content>
      <h2>Ingredients: </h2>
      <p>{{selectedRecipie.ingredients}}</p>
      <h2>Instructions: </h2>
      <p>{{selectedRecipie.description}}</p>
    </mat-card-content>
</mat-card>
</span>